DB_USER="postgres"
DB_NAME="teslo_shop"
DB_USER="12345678"

DATABASE_URL="postgresql://postgres:12345678@localhost:5432/teslo_shop?schema=public"

# openssl rand -base64 32
AUTH_SECRET="your-secret-key"

# https://better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET="your-secret-key"
BETTER_AUTH_URL="base-url-of-your-app"

GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"

GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
