@import "tailwindcss";
@import "tw-animate-css";
@import "react-image-gallery/styles/image-gallery.css";

@plugin "daisyui" {
  logs: false;
  themes:
    wireframe --default,
    night --prefersdark;
}

@source "../../node_modules/rsc-daisyui/dist";

@theme inline {
  --font-geist: var(--font-geist-variable);
  --font-montserrat: var(--font-montserrat-alternates);
}

@custom-variant dark (&:where([data-theme="night"], [data-theme="night"] *));

:root {
  --toastify-color-info: var(--color-info);
  --toastify-color-success: var(--color-success);
  --toastify-color-warning: var(--color-warning);
  --toastify-color-error: var(--color-error);
  --toastify-text-color-info: var(--color-info-content);
  --toastify-text-color-success: var(--color-success-content);
  --toastify-text-color-warning: var(--color-warning-content);
  --toastify-text-color-error: var(--color-error-content);
}

* {
  scrollbar-width: thin;

  &::selection {
    @apply bg-primary text-primary-content;
  }
}

img {
  @apply select-none;

  &[data-nimg="fill"] {
    @apply absolute inset-0 object-cover object-center;
  }
}

svg {
  @apply stroke-[1.5];
}

form[data-auth] {
  @apply w-full max-w-md;

  .fieldset {
    @apply gap-2 rounded-xl border border-base-300 bg-base-200 pb-4 px-4 shadow-md;

    .fieldset-legend {
      @apply text-2xl uppercase font-montserrat font-semibold text-rose-700;
    }

    .input {
      @apply w-full;

      svg {
        @apply cursor-pointer text-current/50;
      }
    }

    .divider {
      @apply m-0 text-xs;
    }
  }
}

#app_sidebar .divider {
  @apply mx-4 my-0;
}

[data-size] {
  @apply fade-in w-fit animate-in gap-1 px-2 py-1 text-sm;

  svg {
    @apply size-4 stroke-current;
  }
}

.drawer-overlay {
  @apply cursor-default backdrop-blur-xs backdrop-filter;
}

.menu-active {
  @apply not-dark:bg-primary/50;
}

.btn-active {
  @apply bg-primary/50;
}

.image-gallery-thumbnails-container {
  @apply cursor-default!;
}

.image-gallery-thumbnail {
  @apply cursor-pointer;

  &.active,
  &:focus,
  &:hover {
    @apply border-primary/50!;
  }
}

.floating-label:has(input:required) > span::after {
  @apply font-semibold text-current text-lg content-["*"];
}

.Toastify__toast-container {
  @apply font-geist text-sm font-semibold w-full max-w-sm;
}
