@import "tailwindcss";
@import "tw-animate-css";
@import "react-image-gallery/styles/image-gallery.css";

@plugin "daisyui" {
  themes: wireframe --default;
}

@source "../../node_modules/rsc-daisyui/dist";

@theme inline {
  --font-geist: var(--font-geist-variable);
  --font-montserrat: var(--font-montserrat-alternates);
}

* {
  scrollbar-width: thin;

  &::selection {
    @apply bg-primary text-primary-content;
  }
}

img {
  @apply select-none;

  &[data-nimg="fill"] {
    @apply absolute inset-0 object-cover object-center;
  }
}

svg {
  @apply stroke-[1.5];
}

form[data-auth] {
  @apply w-full max-w-sm;

  fieldset {
    @apply gap-2 rounded-xl border border-base-300 bg-base-200 pb-4 px-4 shadow-md;

    legend {
      @apply text-lg uppercase;
    }

    label {
      @apply cursor-pointer! font-semibold;
    }

    button {
      &[type="submit"] {
        @apply mt-2;
      }

      &[type="button"] {
        /* GitHub Button */
        &:first-of-type {
          @apply border-black bg-black text-white;
        }

        /* Google Button */
        &:nth-of-type(2) {
          @apply border-base-300 bg-white text-black;
        }
      }
    }

    input {
      @apply w-full;
    }

    .divider {
      @apply m-0 text-xs;
    }
  }
}

.drawer-overlay {
  @apply cursor-default backdrop-blur-xs backdrop-filter;
}

.menu-active,
.btn-active {
  @apply bg-primary/50;
}

.image-gallery-thumbnails-container {
  @apply cursor-default!;
}

.image-gallery-thumbnail {
  @apply cursor-pointer;

  &.active,
  &:focus,
  &:hover {
    @apply border-primary/50!;
  }
}
