@import "tailwindcss";
@import "tw-animate-css";

@plugin "daisyui" {
  themes: wireframe --default;
}

@source "../../node_modules/rsc-daisyui/dist";

@theme inline {
  --font-geist: var(--font-geist-variable);
  --font-montserrat: var(--font-montserrat-alternates);
}

@layer base {
  body {
    @apply font-geist;
  }
}

.drawer-overlay {
  @apply cursor-default backdrop-blur-xs backdrop-filter;
}

.menu-active,
.btn-active {
  @apply bg-primary/50;
}

.btn-disabled {
  @apply opacity-50;
}
